<div class="flex flex-row justify-center w-full min-h-full">
  <div class="flex flex-col mx-auto mt-10">
    <div class="flex flex-row justify-between">
      <h5 class="text-secondary mx-auto">Link Squeeze</h5>
      <ng-container *ngIf="!isAuthenticated; else loggedIn">
        <button mat-stroked-button (click)="onLogin()" *ngIf="auth">Log In</button>
      </ng-container>
      <ng-template #loggedIn>
        <button mat-stroked-button (click)="onLogOut()" *ngIf="auth">Log Out</button>
      </ng-template>
    </div>
    <p>
      Complete the form below to create a shortened URL.
      If you would like to see a history of generated URLs, please log in.
    </p>
    <hr>
    <form [formGroup]="form" class="flex flex-col gap-5 text-center my-10">
      <mat-form-field class="w-full">
        <mat-label>URL</mat-label>
        <input matInput placeholder="URL" formControlName="url">
        <mat-error>
          <arv-validation-messages for="url">
            <arv-validation-message key="pattern">
              Please provide a valid URL which must being with "https://" or "http://"
            </arv-validation-message>
          </arv-validation-messages>
        </mat-error>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Expiry Date</mat-label>
        <input matInput [matDatepicker]="picker" [min]="minDate" [max]="maxDate" formControlName="expiryDate">
        <mat-hint>Up to 30 days</mat-hint>
        <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>
      <div class="w-fit ml-auto">
        <button mat-flat-button mat-raised-button (click)="onSubmit()"
                [disabled]="form.invalid || isFormSubmitting">
          <mat-progress-spinner mode="indeterminate" class="my-2 mx-auto" diameter="21"
                                *ngIf="isFormSubmitting"></mat-progress-spinner>
          <div *ngIf="!isFormSubmitting">Submit</div>
        </button>
      </div>
    </form>
    <hr>
    <table mat-table [dataSource]="savedUrls" class="mat-elevation-z8" *ngIf="isAuthenticated">
      <ng-container matColumnDef="url">
        <th mat-header-cell *matHeaderCellDef>URL</th>
        <td mat-cell *matCellDef="let element">{{ element.originalUrl }}</td>
      </ng-container>

      <ng-container matColumnDef="shortUrl">
        <th mat-header-cell *matHeaderCellDef>Short URL</th>
        <td mat-cell *matCellDef="let element">
          <a mat-button href="{{ element.shortenedUrl }}" target="_blank">{{ element.shortenedUrl }}</a>
        </td>
      </ng-container>

      <ng-container matColumnDef="expiry">
        <th mat-header-cell *matHeaderCellDef>Expiry</th>
        <td mat-cell *matCellDef="let element">{{ element.expiry }}</td>
      </ng-container>

      <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef>Actions</th>
        <td mat-cell *matCellDef="let element">
          <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Actions menu">
            <mat-icon>more_vert</mat-icon>
          </button>
          <mat-menu #menu="matMenu">
            <button mat-menu-item (click)="onViewMetricsClick(element.shortenedUrl)">
              <mat-icon>analytics</mat-icon>
              <span>Metrics</span>
            </button>
            <button mat-menu-item (click)="onDeleteUrl(element.shortenedUrl)">
              <mat-icon>delete_forever</mat-icon>
              <span>Delete</span>
            </button>
          </mat-menu>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  </div>
</div>
